<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c.kreload" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobarusetia"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DompetAbata" >
        <activity
            android:name="com.c.kreload.Notifikasi.Pesan.detail_pesan_activity"
            android:exported="false"
  />
        <activity
            android:name=".konter.DrawSaldo.drawsaldoku"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.TarikKomisi.TarikKomisiSales_Activity"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.menuUtama.HolderPulsa.groupHolder_Activity"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.konter.MarkupKonter.MarkupKonter"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.konter.KirimSaldo.TransferSaldo"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.konter.tambahKonter"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.CetakStruk.StrukPLNPra.CetakPlnPra"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.CetakStruk.StrukPLNPasca.CetakPlnPasca"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.reseller.PilihMetodeBayar"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.reseller.PersetujuanSaldokuReseller"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.pinNew.pin_transaksi"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.pinNew.pinnew"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.MarkUP.markupSpesifik.MarkUpSpesifikActi"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.Fragment.RekapSaldo.RekapSaldoActivity"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.MarkUP.markupSpesifik.markupSpesifikActivity"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.TransferBank.metodebayarBank"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.TransferBank.transferBank"
            android:exported="true" />
        <activity
            android:name="com.c.kreload.TagihanKonterSales.TagihanKonterbySales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.KomisiSales.Komisi_sales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.konter.konter_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.HolderPulsa.produkholderPasca"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.menuUtama.HolderPulsa.produkholder"
            android:exported="false" />
        <activity
            android:name="com.c.kreload.menuUtama.HolderPulsa.holder_pulsa_activity"
            android:exported="false" /> <!-- <meta-data -->
        <!-- android:name="io.sentry.dsn" -->
        <!-- android:value="https://c7552e566d0148ef9d067b45fc46742b@o505958.ingest.sentry.io/5965814" /> -->
        <activity android:name="com.c.kreload.Transfer.transferKonter" />
        <activity
            android:name="com.c.kreload.Pending_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TagihanKonter.DetailTagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TagihanKonter.TagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.MarkUP.markup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.CetakStruk.cetak"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Inquiry.InquiryPasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.GantiPin"
            android:screenOrientation="portrait" />

        <service
            android:name="com.c.kreload.Notifikasi.MyService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.c.kreload.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.c.kreload.ResetPIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.PersetujuanSaldoSales.DetailPersetujuan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TambahKonter.addKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.PersetujuanSaldoSales.PersetujuanSaldoSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.AjukanLimit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Fragment.RiwayatTransaksi.HistoryTransaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Notifikasi.DetailNotifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TentangKami.TentangKamiAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.KodeProduk.Kodeprodukact"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.CetakStruk.DetailTransaksiTruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.CetakStruk.Cetakstruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.DaftarHarga.DaftarHarga_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.PengajuanLimit.PengajuanDompet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.WarungAbata.produkWarungAbata"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PajakPBB.produkPajakPBB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.GasNegara.produkGasnegara"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.AngsuranKredit.ProdukAngsuranKredit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.BPJS.produkBPJS"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.Voucher.produkVoucher"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.TV.tv_produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.Internet.InternetProduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.VoucherGame.produkVoucherGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.air.produkair"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.UangElektronik.ProdukUangElektronik"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PaketsmsTelpon.produksmstelpon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.ListrikPLNPasca.Pln_produk_pasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.ListrikPLN.Pln_Produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.Paket.PaketData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Notifikasi.Notifikasi_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PulsaPrabayar.TransaksiPending"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PulsaPrabayar.KonfirmasiPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PulsaPrabayar.PulsaPrabayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.menuUtama.PulsaPascaBayar.PulsaPascaBayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Kodeproduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.BayarSalesServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Profil.Device"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Profil.Point"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Profil.ubah_pin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Profil.ubah_profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Profil.Profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.RincianTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.RiwayatTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.TopupSaldoServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TopUpSaldoku.TrasferBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.SaldoServer.TrasferBankServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.Transaksi.BayarViaBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TopUpSaldoku.BayarSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.InsertPIN_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.TopUpSaldoku.topup_saldoku_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.homelainnya"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.c.kreload.pin_activity" />
        <activity android:name="com.c.kreload.syaratdanketentuan_activity" />
        <activity android:name="com.c.kreload.RegisterFoto_activity" />
        <activity android:name="com.c.kreload.Modal.OTPinsert" />
        <activity android:name="com.c.kreload.OTPsend" />
        <activity android:name="com.c.kreload.Register_activity" />
        <activity
            android:name="com.c.kreload.Login_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.kreload.drawer_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DompetAbata2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.c.kreload.splash_activity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>