<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.c.rcf">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobarusetia"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DompetAbata"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name="com.c.rcf.TopUpSaldoku.MetodeBayar.Qris_Activity"
            android:exported="false" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.MetodeBayar.VAMethodActivity"
            android:exported="false" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.HistoryTopUp.uploadBukti"
            android:exported="false" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.HistoryTopUp.Activity_HistoryTopUp"
            android:exported="false" />
        <activity
            android:name="com.c.rcf.CetakStruk.StrukPLNPra.cetakBank"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Fragment.DirectLink.webDirect_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.ListrikPLN.groupPLN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Notifikasi.Pesan.detail_pesan_activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.produkholderGame"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.produkHolderPascaPdam"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.c.rcf.konter.DrawSaldo.drawsaldoku"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TarikKomisi.TarikKomisiSales_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.groupHolder_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.konter.MarkupKonter.MarkupKonter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.konter.KirimSaldo.TransferSaldo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.otpvery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.konter.tambahKonter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.CetakStruk.StrukPLNPra.CetakPlnPra"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.CetakStruk.StrukPLNPasca.CetakPlnPasca"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.reseller.PilihMetodeBayar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.reseller.PersetujuanSaldokuReseller"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.pinNew.pin_transaksi"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.pinNew.pinnew"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.MarkUP.markupSpesifik.MarkUpSpesifikActi"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Fragment.RekapSaldo.RekapSaldoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.MarkUP.markupSpesifik.markupSpesifikActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TransferBank.metodebayarBank"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TransferBank.transferBank"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TagihanKonterSales.TagihanKonterbySales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.KomisiSales.Komisi_sales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.konter.konter_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.produkholderPasca"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.produkholder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.HolderPulsa.holder_pulsa_activity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <meta-data -->
        <!-- android:name="io.sentry.dsn" -->
        <!-- android:value="https://c7552e566d0148ef9d067b45fc46742b@o505958.ingest.sentry.io/5965814" /> -->
        <activity android:name="com.c.rcf.Transfer.transferKonter" />
        <activity
            android:name="com.c.rcf.Pending_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TagihanKonter.DetailTagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TagihanKonter.TagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.MarkUP.markup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.CetakStruk.cetak"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Inquiry.InquiryPasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.GantiPin"
            android:screenOrientation="portrait" />

        <service
            android:name="com.c.rcf.Notifikasi.MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.c.rcf.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.c.rcf.ResetPIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.PersetujuanSaldoSales.DetailPersetujuan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TambahKonter.addKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.PersetujuanSaldoSales.PersetujuanSaldoSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.AjukanLimit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Fragment.RiwayatTransaksi.HistoryTransaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Notifikasi.DetailNotifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TentangKami.TentangKamiAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.KodeProduk.Kodeprodukact"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.CetakStruk.DetailTransaksiTruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.CetakStruk.Cetakstruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.DaftarHarga.DaftarHarga_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.PengajuanLimit.PengajuanDompet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.WarungAbata.produkWarungAbata"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PajakPBB.produkPajakPBB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.GasNegara.produkGasnegara"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.AngsuranKredit.ProdukAngsuranKredit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.BPJS.produkBPJS"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.Voucher.produkVoucher"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.TV.tv_produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.Internet.InternetProduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.VoucherGame.produkVoucherGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.air.produkair"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.UangElektronik.ProdukUangElektronik"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PaketsmsTelpon.produksmstelpon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.ListrikPLNPasca.Pln_produk_pasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.ListrikPLN.Pln_Produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.Paket.PaketData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Notifikasi.Notifikasi_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PulsaPrabayar.TransaksiPending"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PulsaPrabayar.KonfirmasiPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PulsaPrabayar.PulsaPrabayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.menuUtama.PulsaPascaBayar.PulsaPascaBayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Kodeproduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.BayarSalesServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Profil.Device"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Profil.Poin.Point"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Profil.ubah_pin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Profil.ubah_profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Profil.Profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.RincianTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.RiwayatTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.TopupSaldoServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.TrasferBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.SaldoServer.TrasferBankServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Transaksi.BayarViaBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.BayarSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.InsertPIN_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.TopUpSaldoku.topup_saldoku_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.homelainnya"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.c.rcf.pin_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.syaratdanketentuan_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.RegisterFoto_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Modal.OTPinsert"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.OTPsend"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Register_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.Login_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.rcf.drawer_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DompetAbata2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.c.rcf.splash_activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>