<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.c.cpay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobarusetia"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DompetAbata"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name="com.c.cpay.TopUpSaldoku.HistoryTopUp.uploadBukti"
            android:exported="false" />
        <activity
            android:name="com.c.cpay.TopUpSaldoku.HistoryTopUp.Activity_HistoryTopUp"
            android:exported="false" />
        <activity
            android:name="com.c.cpay.CetakStruk.StrukPLNPra.cetakBank"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Fragment.DirectLink.webDirect_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.ListrikPLN.groupPLN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Notifikasi.Pesan.detail_pesan_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.konter.DrawSaldo.drawsaldoku"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TarikKomisi.TarikKomisiSales_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.HolderPulsa.groupHolder_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.konter.MarkupKonter.MarkupKonter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.konter.KirimSaldo.TransferSaldo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.otpvery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.konter.tambahKonter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.CetakStruk.StrukPLNPra.CetakPlnPra"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.CetakStruk.StrukPLNPasca.CetakPlnPasca"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.reseller.PilihMetodeBayar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.reseller.PersetujuanSaldokuReseller"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.pinNew.pin_transaksi"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.pinNew.pinnew"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.MarkUP.markupSpesifik.MarkUpSpesifikActi"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Fragment.RekapSaldo.RekapSaldoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.MarkUP.markupSpesifik.markupSpesifikActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TransferBank.metodebayarBank"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TransferBank.transferBank"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TagihanKonterSales.TagihanKonterbySales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.KomisiSales.Komisi_sales"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.konter.konter_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.HolderPulsa.produkholderPasca"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.HolderPulsa.produkholder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.HolderPulsa.holder_pulsa_activity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <meta-data -->
        <!-- android:name="io.sentry.dsn" -->
        <!-- android:value="https://c7552e566d0148ef9d067b45fc46742b@o505958.ingest.sentry.io/5965814" /> -->
        <activity android:name="com.c.cpay.Transfer.transferKonter" />
        <activity
            android:name="com.c.cpay.Pending_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TagihanKonter.DetailTagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TagihanKonter.TagihanKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.MarkUP.markup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.CetakStruk.cetak"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Inquiry.InquiryPasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.GantiPin"
            android:screenOrientation="portrait" />

        <service
            android:name="com.c.cpay.Notifikasi.MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.c.cpay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.c.cpay.ResetPIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.PersetujuanSaldoSales.DetailPersetujuan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TambahKonter.addKonter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.PersetujuanSaldoSales.PersetujuanSaldoSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.AjukanLimit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Fragment.RiwayatTransaksi.HistoryTransaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Notifikasi.DetailNotifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TentangKami.TentangKamiAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.KodeProduk.Kodeprodukact"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.CetakStruk.DetailTransaksiTruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.CetakStruk.Cetakstruk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.DaftarHarga.DaftarHarga_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.PengajuanLimit.PengajuanDompet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.WarungAbata.produkWarungAbata"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PajakPBB.produkPajakPBB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.GasNegara.produkGasnegara"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.AngsuranKredit.ProdukAngsuranKredit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.BPJS.produkBPJS"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.Voucher.produkVoucher"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.TV.tv_produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.Internet.InternetProduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.VoucherGame.produkVoucherGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.air.produkair"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.UangElektronik.ProdukUangElektronik"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PaketsmsTelpon.produksmstelpon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.ListrikPLNPasca.Pln_produk_pasca"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.ListrikPLN.Pln_Produk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.Paket.PaketData_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Notifikasi.Notifikasi_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PulsaPrabayar.TransaksiPending"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PulsaPrabayar.KonfirmasiPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PulsaPrabayar.PulsaPrabayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.menuUtama.PulsaPascaBayar.PulsaPascaBayar_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Kodeproduk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.BayarSalesServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Profil.Device"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Profil.Poin.Point"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Profil.ubah_pin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Profil.ubah_profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Profil.Profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.RincianTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.RiwayatTagihan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.TopupSaldoServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TopUpSaldoku.TrasferBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.SaldoServer.TrasferBankServer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Transaksi.BayarViaBank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TopUpSaldoku.BayarSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.InsertPIN_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.TopUpSaldoku.topup_saldoku_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.homelainnya"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.c.cpay.pin_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.syaratdanketentuan_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.RegisterFoto_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Modal.OTPinsert"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.OTPsend"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Register_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.Login_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.c.cpay.drawer_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DompetAbata2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.c.cpay.splash_activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>